{% extends 'html_base.html' %}
{% block htmltitle %}
{% block pagetitle %}{{ pagetitle }}{% endblock %}
- Anime Database Information System
{% endblock %}
{% block bodyblock %}
{% block nav %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">AI System</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li{% if nav_animes  %} class="active"{% endif %}><a href="{% url animedbs.views.animes  %}">Animes</a></li>
                    <li{% if nav_songs   %} class="active"{% endif %}><a href="{% url animedbs.views.songs   %}">Songs</a></li>
                    <li{% if nav_seiyus  %} class="active"{% endif %}><a href="{% url animedbs.views.seiyus  %}">Seiyus</a></li>
                    <li{% if nav_authors %} class="active"{% endif %}><a href="{% url animedbs.views.authors %}">Authors</a></li>
                    <li{% if nav_users   %} class="active"{% endif %}><a href="{% url animedbs.views.users    %}">Users</a></li>
                </ul>
            </div><!--/.nav-collapse -->

            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> {{ request.session.user_name|default:"Username" }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url animedbs.views.profile %}">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url animedbs.views.logout %}">Sign Out</a></li>
                </ul>
            </div>

            <form class="navbar-search pull-right" action="{% url animedbs.views.search %}" method="get">
                <i class="icon-search icon-white"></i>
                <input type="text" name="keyword" class="search-query" placeholder="Search">
            </form>

        </div>
    </div>
</div>
{% endblock %}
{% block headerblock %}
<header>{%block header %}
{% block headerline %}<h1>{{ pagetitle }}{% endblock %}
{% endblock %}</header>
{% endblock %}

{% block snd_nav %}
{% if nav_list %}
<div id="snd_nav">
    <ul>
        {% for item in nav_list %}
        {% if item %}
        {% if item.1 %}
        <li><a href="{{ item.1 }}">{{ item.0 }}</a></li>
        {% else %}
        <li>{{ item.0 }}</li>
        {% endif %}
        {% else %}
    </ul>
    <ul>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
<div id="content">
    {% block content %}{% endblock %}
</div>


<footer>
    <hr>
    <p>&copy; 2012</p>
</footer>
{% endblock %}

