<table class="table table-bordered">
<tbody>

{% if cmt.commenter %}
<tr>
    <th>Commenter</th>
    <td>{{ cmt.commenter }}</td>
</tr>
{% endif %}
{% if cmt.season %}
<tr>
    <th>On</th>
    <td>{{ cmt.season }}</td>
</tr>
{% endif %}
{% if cmt.anime %}
<tr>
    <th>Season</th>
    <td>{{ cmt.snum }} of {{ cmt.anime }}</td>
</tr>
{% endif %}
<tr>
    <th>Rating</th>
    <td>{{ cmt.rating }}</td>
</tr>
<tr>
    <th>Time</th>
    <td>{{ cmt.datetime }}</td>
</tr>
<tr>
    <th>Text</th>
    <td>{{ cmt.text|linebreaks }}</td>
</tr>
{% if request.session.user_id == cmt.commenter_id %}
<tr>
    <td colspan="2">
        <a class="btn" href="{% url animedbs.views.comment cmt.anime_id cmt.snum%}">Edit</a>
    </td>
</tr>
{% endif %}

</tbody>
</table>
