{% if cmt.commenter %}
<tr>
    <td>Commenter</td>
    <td>{{ cmt.commenter }}</td>
</tr>
{% endif %}
{% if cmt.season %}
<tr>
    <td>On</td>
    <td>{{ cmt.season }}</td>
</tr>
{% endif %}
{% if cmt.anime %}
<tr>
    <td>Season</td>
    <td>{{ cmt.snum }} of {{ cmt.anime }}</td>
</tr>
{% endif %}
<tr>
    <td>Rating</td>
    <td>{{ cmt.rating }}</td>
</tr>
<tr>
    <td>Time</td>
    <td>{{ cmt.datetime }}</td>
</tr>
<tr>
    <td>Text</td>
    <td>{{ cmt.text|linebreaks }}</td>
</tr>
{% if request.session.user_id == cmt.commenter_id %}
<tr>
    <td colspan="2">
        <a href="{% url animedbs.views.comment cmt.anime_id cmt.snum%}">Edit</a>
    </td>
</tr>
{% endif %}
