<!DOCTYPE html>
<html>
    {% block htmlhead %}
    <head>
        {% block encoding %}<meta charset="utf-8">{% endblock %}
        <title>{%block htmltitle %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        {% endblock %}
        {% block additionalhead %}
        {% endblock %}
    </head>
    {% endblock %}
    
    {% block htmlbody %}
    <body>
        {% block bodyblock %}
        {% endblock %}
        {% block tailscript %}
        <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
    {% endblock %}
</html>
