{% extends 'base.html' %}
{% block pagetitle %}Welcome{% endblock %}
{% block header %}
<h1>Anime Database Information System</h1>
<ul>
    <li><a href="{% url animedbs.views.profile %}">profile</a></li>
    <li><a href="{% url animedbs.views.logout %}">logout</a></li>
</ul>
<ul>
    <li><a href="{% url animedbs.views.search %}">Search</a></li>
    <li><a href="{% url animedbs.views.animes %}">Animes</a></li>
    <li><a href="{% url animedbs.views.songs %}">Songs</a></li>
    <li><a href="{% url animedbs.views.seiyus %}">Seiyus</a></li>
    <li><a href="{% url animedbs.views.authors %}">Authors</a></li>
    <li><a href="{% url animedbs.views.users %}">Users</a></li>
</ul>
{% endblock %}
