{% extends 'main.html' %}
{% block pagetitle %}Welcome{% endblock %}
{% block content %}
<form action="." method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" /></p>
</form>
<h2>My comments</h2>
<table>
    <tbody>
        {% for cmt in comments %}
        <tr>
            <td>On {{ cmt.season }}</td>
        </tr>
        <tr>
            <td>-- season {{ cmt.snum }} of {{ cmt.anime }}</td>
        </tr>
        <tr>
            <td>Rated {{ cmt.rating }}</td>
        </tr>
        <tr>
            <td>At {{ cmt.datetime }}</td>
        </tr>
        <tr>
            <td>{{ cmt.text }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
