<h2>{{ season.full_name }} - Season {{ season.snum }} of {{ season.anime }}</h2>
<table>
{% if anime_id %}
<tr>
    <td colspan="2">
        <a href="{% url animedbs.views.edit_season anime_id season.snum %}">Edit</a> | 
        <a href="{% url animedbs.views.comment anime_id season.snum %}">Rate</a>
    </td>
</tr>
{% endif %}
<tr>
    <td>Total_episodes</td>
    <td>{{ season.episodes }}</td>
</tr>
<tr>
    <td>Release_year</td>
    <td>{{ season.year }}</td>
</tr>
<tr>
    <td>Release_month</td>
    <td>{{ season.month }}</td>
</tr>
</table>
<h3>Comments:</h3>
<table>
    <tbody>
        {% for cmt in season.comments %}
        {% include 'comment_object.html' %}
        {% endfor %}
    </tbody>
</table>
