{% extends 'base.html' %}
{% block users %}active{% endblock %}
{% block pagetitle %}Temp{% endblock %}
{% block header %}<h1>Temp</h1>{% endblock %}
{% block content %}
{% if keyword %} <h2>You want to search "{{ keyword }}"</h2> {% endif %}
<div id="table_div"></div>
{% endblock %}

{% block tailscript %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages:['table']});
        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var data = new google.visualization.DataTable();
            {% for col in cols %}
                data.addColumn{{ col|safe }};
            {% endfor %}
            data.addRows({{ rows|safe }})
            
            var table = new google.visualization.Table($('#table_div')[0]);
            table.draw(data);
        }
    </script>
{% endblock %}

