{% extends 'base.html' %}
{% block pagetitle %}{{ user.1 }}{% endblock %}
{% block header %}<h1>{{ user.1 }}</h1>{% endblock %}
{% block content %}
<table>
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{ user.0 }}</td>
        </tr>
        <tr>
            <td>Nickname</td>
            <td>{{ user.2 }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ user.3 }}</td>
        </tr>
</table>
<h2>Comments of {{ user.2 }}</h2>
<table>
    <tbody>
        {% for cmt in comments %}
        {% include 'comment_object.html' %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
