body {
    padding: 80px 20px 40px 20px; /* up right down left */
}

td {
    padding: 5px;
}

#index h1 {
    text-align: center;
}
#index ul {
    list-style-type: none;
    height: 50px;
    width: 505px;
    border-right: 1px solid #000;
    margin: 100px auto 50px auto;
}
#index ul li {
    float: left;
}
#index ul li a {
    width: 100px;
    text-align: center;
    line-height: 50px;
    padding: 0px 0px 0px 0px;
    display: block;
    display: block;
    text-decoration: underline;
    border-left: 1px solid #000;
    background: #f3f3f3;
    font-size: 21px;
}

